.container {
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  width: 70%;
  background-color: #eeeeee;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 1.3rem;
  padding: 30px;
}

.box h1 {
  margin: 10px;
}

.inforbox {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.enter {
  display: none;
}

@media screen and (max-width: 420px) {
  .enter {
    display: block;
  }
}
