.box {
  padding-bottom: 150px;
  width: 100%;
  margin-left: 16%;
}

.intro {
  width: 80%;
  background-color: #eeeeee;
  text-align: center;
  padding: 30px;
  border-radius: 1.5rem;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  margin-bottom: 30px;
}

.coverbox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondbox {
  position: relative;
  margin: 15px;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.earth {
  width: 700px;
  height: 700px;
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.37));
  animation: rotate_image 50s linear infinite;
  transform-origin: 50% 50%;
}

.makeworld {
  text-align: center;
  position: absolute;
  width: 600px;

  top: 180px;
  left: 50px;

  background-color: #eeeeee;
  padding: 30px;
  border-radius: 1.5rem;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.worldname {
  text-align: center;
  border: none;
  margin: 15px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.radio {
  border: none;
  opacity: 0;
}

.radio + label {
  transition: all 0.25s;
  font-size: 15px;
}

.radio:hover + label {
  font-size: 17px;
}

.radio:checked + label {
  font-size: 17px;
  font-weight: bold;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 280px;
    height: 280px;
    opacity: 0;
  }
}

.makeform button {
  margin-top: 10px;
  position: relative;
  border: none;
  min-width: 180px;
  min-height: 50px;
  background: linear-gradient(90deg, rgba(79, 209, 197, 1) 0%, #2fa599 100%);
  border-radius: 1000px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
  font-size: 15px;
}

.makeform button:hover {
  transform: scale(1.2);
}

.makeform button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #2fa599;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.enter {
  display: none;
}

@media screen and (max-width: 768px) {
  .intro h1 {
    font-size: 1.3rem;
  }

  .earth {
    width: 600px;
    height: 600px;
  }

  .makeworld {
    width: 83%;
    padding: 15px;
  }

  .makeform h1 {
    font-size: 1.3rem;
  }
  .makeform h2 {
    font-size: 1.2rem;
  }
  .makeform h3 {
    font-size: 1rem;
  }

  .worldname {
    width: 60%;
  }
}

@media screen and (max-width: 510px) {
  .intro h1 {
    font-size: 1.1rem;
  }
  .intro h4 {
    font-size: 0.8rem;
  }
  .makeworld {
    width: 50%;
    margin-left: 16.5%;
    top: 160px;
  }

  .makeform button {
    margin-top: 0;
    min-width: 100px;
    min-height: 30px;

    font-size: 10px;
  }

  .enter {
    display: block;
  }
}
